.Pagination {
  display: flex;
  justify-content: flex-end;
  background-color: #f5f5f5;
  border-bottom: 4px solid #ff6600;
  height: 50px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.Pagination a {
  padding: 0 10px;
  text-decoration: none;
  color: #ff6600;
  font-weight: bold;
}

.Pagination a.disabled {
  pointer-events: none;
  color: rgba(0,0,0,.26);
  user-select: none;
}
