.news-title {
  font-size: 18px;
}

.news-url,
.news-created {
  color: #808080;
  text-decoration: none;
}

.news-by {
  color: #c0c0c0;
}

.news-hide {
  cursor: pointer;
}

.news-hide span {
  color: #808080;
}
