.NewsTable {
  overflow-y: auto;
}

.NewsTable table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.NewsTable thead th {
  background-color: #ff6600;
  color: #fff;
  font-size: 15px;
  height: 50px;
  vertical-align: middle;
  position: sticky;
  top: 0;
}

.NewsTable tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.NewsTable th,
.NewsTable td {
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  min-width: 100px;
}
